<div>
  <br>
  <mat-card>
    <br>
    <form [formGroup]="createForm" class="create-form">
      <section class="mat-typography">
        <h1>Ajout d'une nouvelle direction</h1>
      </section>
      <mat-form-field >
        <input matInput placeholder="Nom de la Direction" type="text" formControlName="Nom" #Nom>
      </mat-form-field>&nbsp;
      <button type="submit" (click)="ajouterDirection(Nom.value)"
        [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Ajouter</button>&nbsp;
      <button mat-raised-button color="accent" routerLink="/directions">Retour a la
        Liste</button>

    </form>

    <form [formGroup]="serviceForm" class="create-form">
      <br> <br>
      <section class="mat-typography">
        <h1>Ajout d'un nouveau service</h1>
      </section>

      <mat-form-field >
        <mat-select placeholder="choisir une direction" formControlName="NomDG" #NomDG>
          <mat-option *ngFor="let direct of directions" [value]="direct.Nom">{{direct.Nom}}</mat-option>
        </mat-select>
      </mat-form-field>&nbsp;
      <mat-form-field >
        <input matInput placeholder="Nom du service" type="text" formControlName="Nom" #Nom1>
      </mat-form-field>&nbsp;
      <button type="submit" 
        (click)="ajouterService(NomDG.value,Nom1.value); NomDG.value='';Nom1.value=''"
        [disabled]="serviceForm.pristine || serviceForm.invalid" mat-raised-button
        color="primary">Ajouter</button>&nbsp;
        <button mat-raised-button color="accent" routerLink="/directions">Retour a la
          Liste</button>

    </form>

  </mat-card>
</div>