<div class="corps">
  <h1 style="text-align: center">Tableau des données essentielles</h1>
  <div class="recherche">
    <br>
    <form style="width: 50%;margin: auto">
      <mat-form-field style="width: 100%;margin: auto">
        <mat-select placeholder="Choisissez l'année" #annee>
          <mat-option *ngFor="let an of Ans" (click)="genererTableau(an.value)" [value]="an.value">{{an.affiche}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <br>
  </div>
</div>