<div>
  <br>
  <mat-card *ngIf="forme_ajout">
    <!--Gestion des infos global-->
    <div>
      <form [formGroup]="createForm" class="create-form" >
        <section class="mat-typography">
          <h1>Contrats service informatique</h1><br>
        </section>
        <mat-form-field class="field-full-width">
          <input matInput placeholder="Objet *" type="text" formControlName="Objet" [value]="marche.Objet" #Objet>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <mat-select placeholder="Type de marché *" [(value)]="marche.TypeReconduction" formControlName="Reconduction"
            #Reconduction>
            <mat-option value="Ferme" selected>Ferme</mat-option>
            <mat-option value="Reconduction expresse">Reconduction expresse</mat-option>
            <mat-option value="reconduction tacite">Reconduction tacite</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <input matInput placeholder="Nom titulaire *" type="text" formControlName="NomTitulaire"
            [value]="marche.NomTitulaire" #NomTitulaire>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <input matInput placeholder="Telephone du titulaire" type="tel" formControlName="Tel" [value]="marche.Tel"
            maxlength="12" #Tel>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <input matInput placeholder="Code postal titulaire" type="tel" formControlName="CP" [value]="marche.CP"
            maxlength="5" #CP>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <input matInput placeholder="Addresse titulaire" type="text" formControlName="Adresse"
            [value]="marche.Adresse" #Adresse>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <input matInput placeholder="E-mail titulaire *" type="email" formControlName="Mail" [value]="marche.Mail"
            #Mail>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <input matInput placeholder="Montant *" type="number" formControlName="Montant" min="100"
            [value]="marche.Montant" #Montant>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <input matInput [matDatepicker]="picker" (focus)="picker.open()"
            placeholder="Date de notification {{marche.DateNotification}}" formControlName="DateNotification"
            #DateNotification>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <input matInput placeholder="Durée *" type="number" formControlName="Duree" min="1" #Duree
            [value]="marche.Duree">
        </mat-form-field>
        <mat-form-field class="field-full-width" style="width: 100%;">
          <textarea matInput placeholder="Observation, notes concernant le contrat" style="height: 100px;"
            formControlName="Observation" #Observation [value]="marche.Observation"></textarea>
        </mat-form-field>
        <button type="submit"
          (click)="action(Objet.value,NomTitulaire.value,Tel.value,CP.value,Adresse.value,Mail.value,Montant.value,DateNotification.value,Observation.value,Duree.value,Reconduction.value)"
          [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary"
          *ngIf="act=='Ajouter'">Ajouter</button>
        <button type="submit"
          (click)="action(Objet.value,NomTitulaire.value,Tel.value,CP.value,Adresse.value,Mail.value,Montant.value,DateNotification.value,Observation.value,Duree.value,Reconduction.value)"
          mat-raised-button color="primary" *ngIf="act!='Ajouter'">Modifier</button>
      </form>
    </div>
  </mat-card>
</div>


<div *ngIf="!forme_ajout">
  <ngfFormData [files]="files" postName="file" [(FormData)]="sendableFormData"></ngfFormData>
  <ngfUploadStatus [(percent)]="progress" [httpEvent]="httpEvent"></ngfUploadStatus>
  <div class="inline-block">
  <div>
      <div class="inline-block">
        <div ngfDrop [(validDrag)]="baseDropValid" (fileOver)="hasBaseDropZoneOver=$event" selectable="1" 
          [(files)]="files" accept=".xlsx" [maxSize]="maxSize" [(dragFiles)]="dragFiles"
          [(lastInvalids)]="lastInvalids" class="well my-drop-zone" [class.invalid-drag]="baseDropValid===false"
          [class.valid-drag]="baseDropValid" (filesChange)="lastFileAt=getDate()"><br>
          Selectionner ou glisser le fichier ici
        </div>
      </div>
  
      <div>
      <div class="aprs_up" *ngIf="files.length>0">
        <h3 style="text-align: center">{{ files.length }} Fichier(s) en attente</h3><br>
        <table class="table">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Taille</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of files;let i=index">
              <td>
                <strong>{{ item.name }}</strong>
              </td>
  
              <td nowrap>
                {{ item.type }}
              </td>
  
              <td nowrap>
                {{ item.size/1024/1024 | number:'.2' }} MB
              </td>
  
              <td nowrap>
                <button mat-raised-button color="accent" type="button" (click)="files.splice(i,1)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
  
        <div>
          <div>
            <br>
            Etat du chargement:
            <mat-progress-bar class="prog" mode="determinate" value="{{progress}}"></mat-progress-bar>
          </div>
          <mat-icon *ngIf="progress==100">done</mat-icon>
  
          <button type="button" mat-raised-button color="primary" (click)="uploadFiles(files)" [disabled]="!files.length">
              <mat-icon>add_shopping_cart</mat-icon> Ajouter
          </button> 	&nbsp; 	&nbsp;
          <button type="button" mat-raised-button color="accent" (click)="files.length=0" [disabled]="!files.length">
              <mat-icon>delete_sweep</mat-icon> Tous supprimer
          </button>
        </div>
      </div>
  </div>
</div>