.create-form {
    min-width: 150px;
    max-width: auto;
    width: 100%;
    text-align: center;
    margin: auto;
    width: 50%;
}

.field-full-width {
    width: 450px;
    margin-right: 10px;
}

table {
    width: 100%;
}

.mat-column-right {
    text-align: center;
}

.field-full-width-mont {
    width: 297px;
    margin-right: 10px;
}

.my-drop-zone {
    border: dotted 3px rgba(24, 56, 170, 0.781);
    width: 800px;
    height: 115px;
    margin: auto;
    text-align: center;
    font-size: 180%;
    color: #ff4081;
}

table {
    width: 800px;
    margin: auto;
}

th {
    font-size: 18px;
    color: rgb(24, 56, 170);
    width: 50%;
    margin: auto;
    text-align: left;
    margin: auto;
}

.inline-block {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.25%;
}

.invalid-drag {
    border: dotted 3px red;
}

.valid-drag {
    border: dotted 3px green;
}

.prog {
    height: 40px;
    margin-bottom: 7px;
}

.avnt_up {}

.img {
    width: 800px;
}