<mat-toolbar>
  <img src="../assets/img/AMP.PNG" class="img">
  <span class="titre">SUIVI DE CONTRATS</span>
  <img src="../assets/img/images.png" class="img">
</mat-toolbar>
<mat-toolbar class="men">
  <div class="men-items">
      <button mat-raised-button routerLink="/marches" color="accent" class="men-item"><mat-icon>view_list</mat-icon> Voir tous les Marchés</button>
      <button mat-raised-button routerLink="/marches/Ajouter" class="men-item" color="accent"><mat-icon>add_shopping_cart</mat-icon> Ajouter Marchés</button>
      <button mat-raised-button routerLink="/marches/upload" class="men-item" color="accent"><mat-icon>vertical_align_top</mat-icon> Uploder Marchés</button>
  </div>
</mat-toolbar>
<div>
  <router-outlet></router-outlet>
</div>