<div class="affiche" *ngIf="display">
  <mat-card class="card-content">
    <mat-card-header class="card-title">
      <b>
        <h1> Marché N°
          <span *ngIf="marche.NumMarche.toString().length===1">{{marche.An}}-00{{marche.NumMarche}}</span>
          <span *ngIf="marche.NumMarche.toString().length===2">{{marche.An}}-0{{marche.NumMarche}}</span>
          <span *ngIf="marche.NumMarche.toString().length===3">{{marche.An}}-{{marche.NumMarche}}</span>
        </h1>
      </b>
    </mat-card-header>
    <h2>Information général</h2>
    <table>
      <tr>
        <th>Objet</th>
        <th>Nature</th>
      </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
      </tr>
    </table>
    <br>

    <table>
      <tr>
        <th>Type Procedure</th>
        <th>Forme et type de marché</th>
      </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
      </tr>
    </table>
    <br>
    <h2>Auteur</h2>
    <table>
      <tr>
        <th>Direction</th>
        <th>Service</th>
        <th>Contacte</th>
      </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Maria Anders</td>
      </tr>
    </table>
    <br>
    <h2>Montants</h2>
    <table>
        <tr>
          <th>Montant minimum</th>
          <th>Montant déboursé</th>
          <th>Montant maximum</th>
        </tr>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td><b>Maria Anders</b></td>
          <td>Maria Anders</td>
        </tr>
    </table>
    <h2>Titulaire et sous traitants</h2>
    <table>
        <tr >
          <th class="tra">Type</th>
          <th class="tra">entreprise</th>
          <th class="tra">contact</th>
          <th class="tra">Email</th>
          <th class="tra">Adresse</th>
        </tr>
        <tr >
          <td>Alfreds Futterkiste</td>
          <td>Maria Anders</td>
          <td>Maria Anders</td>
          <td>Maria Anders</td>
          <td>Maria Anders</td>
        </tr>
    </table>
    <br>
    <h2>Dates</h2>
    <table>
        <tr >
          <th class="tra">Date de notification</th>
          <th class="tra">Date de cloture</th>
          <th class="tra">Nombre de redirections</th>
          <th class="tra">Durée initiale</th>
          <th class="tra">Durée totale</th>
        </tr>
        <tr >
          <td>Alfreds Futterkiste</td>
          <td>Maria Anders</td>
          <td>Maria Anders</td>
          <td>Maria Anders</td>
          <td>Maria Anders</td>
        </tr>
    </table>
    <br>
    <h2>Fichier associés</h2>
    <table>
        <tr>
          <th>Nom</th>
          <th>Action</th>
        </tr>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>Maria Anders</td>
        </tr>
      </table>
  </mat-card>
 
  <div class="titre">
  </div>
  <br>
</div>