.corps{
    min-width: 150px;
    max-width: auto;
    width: 100%;
    margin: auto;
    width: 90%;
  }
  .tgd{
    border: 1px solid black;
  }

  table {
    width: 100%;
}
th{
  font-size: 18px;
  color: rgb(24, 56, 170);
}
tr{
  font-size: 14px;
  color: #ff4081;
}

.mat-column-right {
    text-align: center;
}
.hedtab{
  width: 100%;
}

/deep/.mat-tab-label{
  width: 50%;
  color: #ff4081;
}
.act-form{
  width: 40%;
}
.recherche{
  width: 100%;
  margin-left: auto;
}
.ou{
  border-radius: 80%;
  width: 5%;
  font-size: 180%;
  margin-left: 1%;
  margin-right: 1%; 
  background-color: #ff4081;
  color: rgb(24, 56, 170);
}