<div>
  <br>
  <mat-card>
    <br>
    <form [formGroup]="forgetForm" class="create-form">
      <section class="mat-typography">
        <h1>Nouveau mot de passe</h1>
      </section>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Confirmer votre email*" type="email" formControlName="Email" #Email>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Nouveau mot de passe" type="password" formControlName="Password" #Password>
      </mat-form-field>
      <br><br>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Confirmer mot de passe" type="password" formControlName="PasswordConf" #PasswordConf>
      </mat-form-field>
      <br><br>
      <button type="submit" (click)="Modifier(Email.value, Password.value,PasswordConf.value)" class="field-full-width"
        [disabled]="forgetForm.pristine || forgetForm.invalid" mat-raised-button color="primary">Modifier</button>
    </form>
  </mat-card>
</div>